@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617;
}

input[type="date"],
input[type="time"] {
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 2px;
}
